@import url(rainbow.css);

.button {
	background-color: #4CAF50;
	border: none;
	color: white;
	padding: 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
}

.button-largeradius {
	border-radius: 8px;
}

.button-smallradius {
	border-radius: 30%;
}

.buttondelay {
	transition-duration: 0.35s;
	-webkit-transition-duration: 0.35s; 
}

.buttonshadow {
	box-shadow: 0 9px 17px 0 rgba(0,0,0,0.3), 0 7px 21px 0 rgba(0,0,0,0.20);
}

.buttonshadow-hover:hover {
	box-shadow: 0 9px 17px 0 rgba(0,0,0,0.3), 0 7px 21px 0 rgba(0,0,0,0.20);
}

.buttonhover:hover {
	background-color: rgb(71, 22, 247);
	color: rgb(255, 31, 31);
}

.red {
	background-color: #ff0000;
}

td{
	padding:20px;
}

table{
	margin-left: auto;
	margin-right: auto;
}

h1, h2, h3, h4, h5, h6{
	text-align:center;
}

.title{
	color: red;
	font-family: 'Trebuchet MS', sans-serif; 
  }
  
.title-large {
	font-size: 2rem;
  }
  
.title-small {
	font-size: .5rem;
  }