table {
	font-family: "Marker Felt", "Comic Sans MS", fantasy;
	color: #21e21b;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	border-collapse: collapse;
	border-spacing: 0px;
}

tr {
	border: 1px solid #ffffff;
	text-align: center;
	background-color:#9FB6CD; 
}

th {
	text-align: center;
	color: #ffffff;
	background-color: #003366;
}

ul {	
	list-style-type: square;
	color: blue;
}

ol {
	background: magenta;
}

main {
	background: url(../images/fb3fc3b7b58832c7f302273675121df4.jpeg);
  }

