table {
	font-family: "Pencil", "Dosis", fantasy;
	color: #ffffff;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	border-collapse: collapse;
	border-spacing: 0px;
}

tr {
	border: 1px solid #ffffff;
	text-align: center;
	background-color: #247BA0;
}

th {
	text-align: center;
	color: #ffffff;
	background-color: #8C271E;
}

body {
	background-image: url("../music.png");
	background-color: #ffffff;
}