img{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}



body {
	font-family: "Marker Felt", "Comic Sans MS", fantasy;
	color: #DFA437;
}

h1 {
	font-size: 1.3em;
	text-align: center;
}

h2{
    font-size: 1.1em;
    text-align: center;
}

table {
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	border-collapse: collapse;
	cellspacing: 50px;
    height: 50px;
    
}

tr {
	border: 1px solid #ffffff;
	text-align: center;
	background-color:#DFA431; 
}

th {
	text-align: center;
	color: #ffffff;
	background-color: #FFDF00;
}