strong {
  margin: 50px; background-color: gold
}
h3 {
  padding: 50px;
  border: 5px solid white;
}
p {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
}
body {
    font-family: "Marker Felt", "Comic Sans MS", fantasy;
    color:whitesmoke;
     background-image: url("../images/tropical-foliage-background_53876-91352.jpg"); background-size:cover
}

h1 {
    font-size: 1.3em;
    text-align: center;
}

h2 {
    text-align: center;
    font-size: 1.1em;
}

table {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    border-collapse: collapse;
    cellspacing: 0px;
}

tr {
    border: 1px solid #ffffff;
    text-align: center;
    background-color: #9FB6CD;
}

th {
    text-align: center;
    color: #ffffff;
    background-color: #003366;
}
