table {
	font-family: "Monaco", "Comic Sans MS", fantasy;
	color: #003366;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	border-collapse: collapse;
	border-spacing: 0px;
}

tr {
	border: 2.5px solid #082d76;
	text-align: center;
	background-color:#c0edef; 
}

th {
	text-align: center;
	color: #ffffff;
	background-color: #003366;
}

td {
	color: #18698c;
}

ul {
	list-style-type: square;
  }
ol {
	list-style-type: upper-roman;
}