body {
    font-family: "Marker Felt", "Comic Sans MS", fantasy;
    color: #003366;
}

h1 {
    font-size: 1.3em;
    text-align: center;
}

h2 {
    font-size: 1.1em;
}

table {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    border-collapse: collapse;
    cellspacing: 0px;
}

tr {
    border: 1px solid #ffffff;
    text-align: center;
    background-color: #9FB6CD;
}

th {
    text-align: center;
    color: #ffffff;
    background-color: #003366;
}

.button {
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
}

.button1:hover {background-color: #3e8e41}

.button1:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.button2 {
    background-color: white;
    color: black;
    border: 2px solid #008CBA;
    border-radius: 30%;
}

.red {
    background-color: #9FB6CD;
}

.content {
    color: darkorange
}
#morecontent {
    background-color: yellow;
}

