body {
	font-family: "Marker Felt", "Comic Sans MS", fantasy;
	color: #003366;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTS8IIq7lLWEhvQ3IzsgL6UzTDRukid3ndcVSEbl3I3s4-xBdjY");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}

h1 {
	font-size: 1.3em;
	text-align: center;
}

h2{
        font-size: 1.1em;
        text-align: center;
        color: chartreuse;
}

table {
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	border-collapse: collapse;
	cellspacing: 0px;
}

tr {
	border: 1px solid #ffffff;
	text-align: center;
	background-color:#9FB6CD; 
}

th {
	text-align: center;
	color: #ffffff;
	background-color: #003366;
}
li {color: chartreuse;}