body {
	font-family: "Fantasy", "TimesNewRoman", fantasy;
	color: #000000;
}

.header{
    text-align: center;
}

.center{
    text-align: center;
    align-content: center;
    align-self: center;
}

.fontNew{
    font-family: "Arial";
}

.bord{
    border: 2px solid #000000;
    margin: 20px;
}

.btn{
    width: 100%;
}