.menu {
    margin: 0px;
    font-size: 1em;
}

.wideMargin {
    margin: 15px;
}

#footer {
    font-size: 12px;
    text-align: center;
}

.bg-dark {
    background-color: #AA0000 !important;
}

.backgroundindexpage {
    background-image: url(file:///Users/223131/Applications/mampstack/apache2/htdocs/WebDev2/Version7.0/user03/images/MinneapolisSkyline.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.paragraphMargin {
    margin: 50px;
}

h1 {
    font-weight: 700;
}

span {
    background-color: #DDDDDD;
}

.paragraph1Margin {
    margin-right: 600px;
}

.tablebackground {
    background-color: #DDDDDD;
    border: 1px solid #AA0000;
}

.accordionTableBorder {
    border: 1px solid #000000;
}

.tablecolumnwidth {
    width: 100px;
    text-align: left;
}

.text-center {
    align-content: center;
}

.fulltablewidth {
    width: 200px;
    text-align: center;
}

.alignbootstrapcenter {
    border-radius: 5px;
    width: 50%;
    float: none;
    margin: 0px auto;
}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.activeaccordion,
.accordion:hover {
    background-color: #AA0000;
}

.panel {
    padding: 0 18px;
    display: none;
    background-color: #DDDDDD;
    overflow: hidden;
}

.accordionpadding {
    padding-top: 30px;
    padding-bottom: 20px;
}

.backgroundMinnehahaFalls {
    background-image: url("file:///Users/223131/Applications/mampstack/apache2/htdocs/WebDev2/Version7.0/user03/images/MinnehahaFallsCold.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

.sculpturegardenbackground {
    background-image: url("file:///Users/223131/Applications/mampstack/apache2/htdocs/WebDev2/Version7.0/user03/images/CherrySpoon.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

#footer {
    text-align: center;
    font-size: 12px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.USBankStadiumBackground {
    background-image: url("file:///Users/223131/Applications/mampstack/apache2/htdocs/WebDev2/Version7.0/user03/images/USBankStadium.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

.MNChildrensMuseumBackground {
    background-image:url("file:///Users/223131/Applications/mampstack/apache2/htdocs/WebDev2/Version7.0/user03/images/ChildrensMuseum.jpeg");
        background-repeat: no-repeat;
    background-size: cover;
}

.WeismanBackground {
    background-image:url("file:///Users/223131/Applications/mampstack/apache2/htdocs/WebDev2/Version7.0/user03/images/WeismanArtMuseum.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

.fixproblem {
    text-align: right;
    align-content: right;
}

