img{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
th {
	text-align: center;
	color: #ffffff;
	background-color: #000000;
}
body {
	font-family: "Marker Felt", "Comic Sans MS", fantasy;
	color: #000000;
    background-image: url("../images/WebDevUser09.jpg");
}

h1 {
	font-size: 1.3em;
	text-align: center;
}

h2{
        font-size: 1.1em;
}

table {
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	border-collapse: collapse;
	cellspacing: 0px;
}

tr {
	border: 1px solid #ffffff;
	text-align: center;
	background-color:#9FB6CD; 
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button1 {
  border-radius: 8px;
}

.button2 {
  border-radius: 50%;
}

.button3 {
  padding: 14px 40px;
 display: block;
  width: 100%;
  border: none;
  background-color: #4CAF50;
  color: white;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

.button4 {
  font-size: 20px;;
}

.red { 
   background-color: #ff0000;
}

.blue { 
   background-color: #0000ff;
}

.black {
    background-color: #555555;
}

.green{
    background-color: #00FF00;
}

.yellow{
    background-color: #FFFF00;
}
#morecontent {
  background-color: yellow;
}

body{
width: 500px;
	
    margin: auto;
    text-align: center;
}

dl{

}

dd{
margin: 0;	    
padding: 1em 0;
}

dt{
cursor: pointer;    	    
font-weight: bold;    
font-size : 1.5em;    
line-height: 2em;    
background: #ffffff;    
border-bottom: 1px solid #000000;    
border-top: 1px solid black;}

dt:first-child { border-top: none; }

dt:nth-last-child(2) { border-bottom: none; }
.hide { display: none;}