body {
	font-family: "Marker Felt", "Comic Sans MS", fantasy;
	color: #003366;
    background-image: url("Oryx.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

h1 {
	font-size: 1.3em;
	text-align: center;
}

h2{
        font-size: 1.1em;
    text-align: center;
}
ol {
 color: #ff9999;
}

ul {
  color: #3399ff;
}


table {
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	border-collapse: collapse;
	cellspacing: 0px;
}

tr {
	border: 1px solid #ffffff;
	text-align: center;
	background-color:#9FB6CD; 
}

th {
	text-align: center;
	color: #ffffff;
	background-color: #003366;
}

img {
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button1 {
  border-radius: 8px;
}

.button2 {
  border-radius: 30%;
}

.red { 
   background-color: #ff0000;
}

.button3 {
  background-image: url("NINJA.jpeg");
background-position: center;
  color: white;
  border: 2px solid #4CAF50; /* Green */
}

.button4:hover {
  background-color: #FF0000; /* Green */
  color: white;
    opacity: 1
}

.buttonchangecolorspeed {
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.button5 {
  border-radius: 8px;
opacity: 0.6;
}

.content {
    color: magenta;
    
}

#morecontent {
  background-color: yellow;
}

