body {
    background-image:url("https://i.pinimg.com/originals/0b/a8/df/0ba8dfceaa16c47b713cbed42c1e6b34.jpg") 
}









table {
	font-family: "Marker Felt", "Comic Sans MS", fantasy;
	color: #003366;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	border-collapse: collapse;
	border-spacing: 0px;
}

tr {
	border: 20px solid #180add;
	text-align: center;
	background-color:#1fe7e7; 
}
	
th {
	text-align: center;
	color: #0f0f0f;
	background-color: #ce3292;
}

td {
	 color:lime
}