table {
	font-family: "Brush Script MT", "Comic Sans MS", fantasy;
	color: #a638c7;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	border-collapse: collapse;
	border-spacing: 0px;
}

tr {
	border: 10px solid #ff0000;
	text-align: center;
	background-color: #ba8ccf;
}

th {
	text-align: center;
	color: #ffffff;
	background-color: #3a67a1;
}

body{
	background-image: url("../images/galaxy.jpeg");
	background-size: cover;
}

ol{
	font-family: "Courier New", "Comic Sans MS"
}

ul{
	color: rgb(0, 252, 168);
	font-size: xx-large;
}

h1{
	color:aquamarine;
}

h2{
	color:cadetblue;
}

h3{
	color: peachpuff;
}

