body {
    background-image: url(../images/note-web.jpeg);


    font-family: "Marker Felt", "Comic Sans MS", fantasy;
    color: #003366;
}

p {
  padding: 20px 0 20px 10px;
  margin-bottom: 50px;
    margin-top: 25px       /* Add this */
}

h1 {
    font-size: 1.3em;
    text-align: center;
}

h2,h3,h4 {
    font-size: 2.6em;
    text-align: center;
}

table {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    border-collapse: collapse;
    cellspacing: 0px;
}

tr {
    border: 1px solid #ffffff;
    text-align: center;
    background-color: #6FB6CD;
}

th {
    text-align: center;
    color: #ffffff;
    background-color: #002366;
}

h5 {
    padding: 30px;
    border-bottom: 15px solid #9F59FF;
    border-top: 15px solid #6f00f0;
    border-right: 15px solid #7f09f4;
    border-left: 15px solid #9f29ff;
}
strong {
  margin: 50px;
}
