body {
    background-image: url(../images/background.jpg);
    background-repeat: repeat-y;
    background-size: cover;
    font-family: fantasy;
    color: #000000;
    transform: rotate(0deg);
}

.active {
    border-radius: 20px;
    border: 2px solid #FEFEFE;

}

h1 {
    padding: 25px;
    padding-bottom: 10px;
    /*border: 3px solid #CCCCCC;*/
    border-bottom: 5px solid #CCCCCC;
    margin: 10px;
    font-size: 2em;
    text-align: center;
    color: #FFFFFF;
    border-radius: 50px
}

h2 {
    padding-top: 10px;
    font-size: 1.6em;
    text-align: center;
}

h3 {
    padding-top: 10px;
    font-size: 1.8em;
}

p {
    padding: 10px;
    font-size: 1.2em;
    color: #FFFFFF;
}

a {
    color: #cc0000;
    /*Color of the hyperlink text*/
}

table {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    border-collapse: collapse;
}

ol {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    border-collapse: collapse;
    cellpadding: 10px;
    font-size: 1.3em;
}

ul {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    border-collapse: collapse;
    cellpadding: 10px;
    font-size: 1.3em;
}

tr {
    border: 1px solid #ffffff;
    text-align: center;
    background-color: #9FB6CD;
}

th {
    text-align: center;
    color: #ffffff;
    background-color: #003366;
}

#footer{
    vertical-align:text-bottom;
}
