body {
    background-image: url(../images/background.jpg);
    background-repeat: repeat-y;
    background-size: cover;
    font-family: fantasy;
    color: #000000;
    transform:rotate(0deg);
}

h1 {
    font-size: 2em;
    text-align: center;
    color: #000000;
}

h2 {
    font-size: 1.6em;
}

h3{
    font-size: 1.8em;
}

p {
    font-size: 1.2em;
}

a {
    color: #cc0000; /*Color of the hyperlink text*/
}

table {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    border-collapse: collapse;
    cellpadding: 10px;
}

ol {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    border-collapse: collapse;
    cellpadding: 10px;
    font-size: 1.3em;
}

ul {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    border-collapse: collapse;
    cellpadding: 10px;
    font-size: 1.3em;
}

tr {
    border: 1px solid #ffffff;
    text-align: center;
    background-color: #9FB6CD;
}

th {
    text-align: center;
    color: #ffffff;
    background-color: #003366;
}
