table {
	font-family: "Corsiva", "Economica", fantasy;
	color: #ffffff;
	margin-left: auto;
	margin-right: 0%;
	text-align: left;
	border-collapse: collapse;
}

tr {
	border: 1.8px solid #ffffff;
	text-align: center;
	background-color:#ffffff00; 
	color: white;
}

th {
	text-align: center;
	color: #ffffff;
	background-color: #000000;
}
