table {
	font-family: "Corsiva", "Economica", fantasy;
	color: #000000;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	border-collapse: collapse;
	cellspacing: 20px;
}

tr {
	border: 1.8px solid #121242;
	text-align: center;
	background-color:#ffffff; 
}

th {
	text-align: center;
	color: #ffffff;
	background-color: #77295d;
}