table {
	font-family: "Sans", "Raleway", fantasy;
	color: #a3407a;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	border-collapse: collapse;
	cellspacing: 0px;
}

tr {
	border: 3px solid #d48888;
	text-align: center;
	background-color:#d4c70e; 
}

th {
	text-align: center;
	color: #e04343;
	background-color: #d69151;
}

body {
  background-image: url('img/Waffles.png');

}
