.background-red {
    background-color: rgb(255, 107, 107);
}

.background-orange {
    background-color: rgb(255, 195, 82);
}

.background-yellow {
    background-color: rgb(255, 255, 82);
}

.background-green {
    background-color: rgb(142, 255, 142);
}

.background-blue {
    background-color: rgb(130, 226, 255);
}

.background-indigo {
    background-color: rgb(187, 92, 255);
}

.background-violet {
    background-color: rgb(255, 159, 255);
}