strong {
    margin: 50px;
    background-color: gold
}

h3 {
    padding: 50px;
    border: 5px solid white;
}

p {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

body {
    font-family: "Marker Felt", "Comic Sans MS", fantasy;
    color: lightcoral;
    background-image: url("../images/tropical-foliage-background_53876-91352.jpg");
    background-size: cover
}

h1 {
    font-size: 1.3em;
    text-align: center;
}

h4 {
    text-align: center;
    font-size: 1.1em;
}

table {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    border-collapse: collapse;
    cellspacing: 0px;
}

tr {
    border: 1px white;
    text-align: center;
    background-color: #9FB6CD;
}

th {
    text-align: center;
    color: #ffffff;
    background-color: #003366;
}

.button {
    background-color: lightcoral;
    /* Green */
    border: 5px;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration:underline;
    display: inline-block;
    font-size: 24px;
    margin: 4px 2px;
    cursor:auto; 
}

.button1 {
    border-radius: 8px;
    background-color: lightcoral;
}

.button2 {
    border-radius: 40%;
    background-color: lightcoral;
}

.red:hover {
    background-color: lightcoral;
}

.kavya:checked {
    .button1 {
        background-color: lightcoral;
    }

    /* pink */
    .content {
        color: lightcoral
    }
