.button {
	background-color: #4CAF50;
	border: none;
	color: white;
	padding: 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
}

.button1 {
	border-radius: 8px;
}

.button2 {
	border-radius: 30%;
}

.red {
	background-color: #ff0000;
}

td {
	padding: 20px;
}

table {
	margin-left: auto;
	margin-right: auto;
}

h1, h2, h3, h4, h5, h6 {
	text-align: center;
}

.Hi {
	box-shadow: 0px 10px 14px -7px #276873;
	background: linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	background-color: #599bb3;
	border-radius: 8px;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: Arial;
	font-size: 20px;
	font-weight: bold;
	padding: 13px 32px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #3d768a;
}

.Hi:hover {
	background: linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color: #408c99;
}

.Hi:active {
	position: relative;
	top: 1px;
}

.Hello {
	background-color:salmon;
	border:none;
	color:rgb(255, 255, 255);
	padding: 15px 32px;
	text-align:center;
	-webkit-transition-duration:0.4s;
	transition-duration:0.4s;
	text-decoration:none;
	font-size:15px;
	cursor:pointer;
	opacity:0.3;
}
.Hello:hover {
	opacity:1;
}

.Hai{
	background-color:purple;
	border:none;
	color:#ffffff;
	padding:25px;
	text-align:center;
	-webkit-transition-duration:0.4s;
	transition-duration:0.4s;
	text-decoration:none;
	font-size:15px;
	cursor:pointer;
	position:relative;
	overflow:hidden;
}

.Hai:after {
	content:"";
	background: plum;
	display:block;
	position:absolute;
	padding-top:290%;
	padding-left:340%;
	margin-left:-25px;
	margin-top:-130%;
	opacity:0;
	transition:all 0.9s;
}

.Hai:active:after {
	padding:0;
	margin:0;
	opacity:1;
	transition:0s;
}

.title{
	color: rgb(100, 100, 100);
	font-family: 'Brush Script MT', cursive; 
  }
  
  .title-large {
	font-size: 2rem;
  }
  
  .title-small {
	font-size: .5rem;
  }

#hirebuttons {
	background-color:rosybrown;
}

#hirefooterTable {
	font-style:initial;
}

*{
    text-align:center;
}

