 .main {
     background-image: url(https://lh3.googleusercontent.com/proxy/LIqChCZQfteamamk27qPJKzK3rREzy-wtr93oF9NEO6XpqGqnNy09Fd0wc6ib1B9SC9-ykurYyCZ6Dyvluo3EKOVi5BfwnkGYVJT93YZFDplQkzkH5sYHInIS9efHvz214bOc2m-ClnlsfQ);
     background-repeat: no-repeat;
     background-size: cover;
     font-family: sans-serif;
 }

 .menu {
     background-color: black;
 }

 .wideMargin {
     margin: 15px;
 }

 #footer {
     font-size: 12px;
     text-align: center;
 }

 .accordion {
     background-color: lightpink;
     color: #444;
     cursor: pointer;
     padding: 18px;
     width: 100%;
     border: none;
     text-align: left;
     outline: none;
     font-size: 15px;
     transition: 0.4s;
     font-family: fantasy
 }

 .active,
 .accordion:hover {
     background-color: navbar navbar-expand-md navbar-dark bg-dark;
 }

 .accordion:after {
     content: '\002B';
     color: gray;
     font-weight: bold;
     float: right;
     margin-left: 5px;
 }

 .active:after {
     content: "\2212";
 }

 .panel {
     padding: 0 18px;
     background-color: gray;
     max-height: 0;
     overflow: hidden;
     transition: max-height 0.2s ease-out;
 }

 body {
     background: black;
     color: dimgray;
 }

 .textChange {}