img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:auto;
}

body {
	font-family: "Marker Felt", "Comic Sans MS", fantasy;
	color:black;
    text-align: center;
    background-image: url("moonknight.jpg");
    background-repeat: no-repeat;
    background-size:cover;
}

h1 {
	font-size: 2em;
	text-align: center;
}

h2{
        font-size: 1.7em;
    text-align: center;
}

table {
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	border-collapse: collapse;
}

tr {
	border: 1px solid #ffffff;
	text-align: center;
	background-color:#9FB6CD; 
}

th {
	text-align: center;
	color: #ffffff;
	background-color: #003366;
}
button{
    font-family: "Comic Sans MS";
    font-size: 16px;
    background-color:white;
    color:black;
    border-color: black;
}
dl{
    margin-right:85%;
}

dd{
margin: 0;	    
}

dt{
cursor: pointer;    	    
font-weight: bold;    
font-size : 1.5em;
color:black;
line-height: 2em;}

dt:first-child { border-top: none; }

dt:nth-last-child(2) { border-bottom: none; }
.hide { display: none;}