
.b1 {
    border-radius: 40px;
    border-color: goldenrod;
    padding: 20px;
    font-size: 35px;
    background-color: gold;
    border-width: medium;
}

dd {
    text-align: center;
    color: saddlebrown;
    background-color: gainsboro;
    margin: 0px;
    padding: 1em;
    font-weight: bolder;
}

dt {
    text-align: center;
    color: darkslateblue;
    background-color: lightblue;
    margin: 0px;
    padding: 1.5em;
    cursor: pointer;
    border-bottom-color: 2.5px solid lemonchiffon;
    border-top: 1px solid darkgoldenrod;
}

.b2 {
    border-radius: 40px;
    border-color: green;
    padding: 20px;
    font-size: 35px;
    background-color: limegreen;
    border-width: medium;
}

.b3 {
    border-radius: 40px;
    border-color: blue;
    padding: 20px;
    font-size: 35px;
    background-color: lightblue;
    border-width: medium;

}

.bbsspace {
    background-blend-mode: soft-light;
    background-color: aqua;
    font-size: 75px;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    background-color: aquamarine;
    border-width: medium;
}

.pbsspace {
    background-blend-mode: soft-light;
    background-color: lavender;
    font-size: 75px;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    background-color: purple;
    border-width: medium;

}
.back{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRzJmqVBoKzQxt21YHI_7-7QC7PhIJufZ9FE9ZLi38sQpC4QTYO);
}
#wjd {background-color: aqua}
.lol{background-color: azure}