.basicColumn {
    color: brown;
    font-size: 2em;
}

td {
    padding: 15px;
    border: 2px dotted #ff0000;
    background-color: azure;
}

.classCOOL {
    font-family: "timesnewroman";
    color: #3344ff;
    font-size: 4em;
}

.anotherClass {
    color: blueviolet;
    font-family: "arial";
    font-size: 2em;
    font-weight: bold;
    padding: 10px;
}

.margin {
    padding-right: 20px;
}

.menu {
    font-family: 'arial';
    font-weight: bold;
    font-size: 1.2em;
}


dl {
    text-align: center;
    margin: 0px;
}

dt {
    cursor: pointer;
    margin-top: 10px;
    margin-left: 5%;
    margin-right: 5%;
    font-weight: bold;
    font-size: 1.5em;
    line-height: 2em;
    background: #e3e3e3;
    border-bottom: 1px solid #c5c5c5;
    border-top: 1px solid white;
}

dd {
    font-size: 20px;
}

dt:first-child {
    border-top: none;
}

dt:nth-last-child(2) {
    border-bottom: none;
}

.hide {
    display: none;
}

.dropDown {
    text-align: center;
}

.topBar {
    border: 2px solid #999999;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: gray;
    width: 95%;
    margin: 20px;
    margin-bottom: 0px;
    padding: 8px;
    padding-bottom: 2px;
}

.row {
    display: inline-block;
}

.col-md-10 {
    margin-top: 20px;
    margin-left: 0px;
}

.LordLohman {
    margin-left: 5%;
    margin-right: 5%;
}

.dropBar {
    border: 1px solid #DDDDDD;
    border-top: 0px;
    padding 8px;
    padding-top: 8px;
    padding-bottom: 2px;
    margin-left: 20px;
    width: 95%;
    vertical-align: middle;
}

.fa {
    width: 15px;
    height: 15px;
}

.title {
    margin-top: 25px;
    margin-bottom: 10px;
    text-align: center;
    width: 25%;
    color: forestgreen;
    font-family: fantasy;
    border: solid black 2px;
    border-radius: 10px;
}

input[type="button"] {
    background-color: #fdfdfd;
    color: #000000;
    border: solid black 2px;
    border-radius: 10px;
    width: 100%;
}

td{
    border: 1px solid black;
    background-color: #dedede;
}

input[type="text"] {
    background-color: white;
    border: solid black 2px;
    width: 100%
}