/*Background Below*/
.main {
    background-image: url(../images/field.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    font-family: "Comic Sans MS";
}

.barcelona {
    background-image: url(../images/bstadium.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Comic Sans MS"
}

.lafc {
    background-image: url(../images/lastadium.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Comic Sans MS"
}

.dallas {
    background-image: url(../images/dallasstadium.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Comic Sans MS"
}

/*Text Styles*/
h1 {
    text-align: center;
}
.team {
    font-size: 25px;
    color:aliceblue;
    text-align: center;
}

li {
    font-size: 20px;
}
ul {
    border: dashed 7px;
}

.standings {
    color:aliceblue;
    text-align: center;
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

.sponsor {
    font-weight: bold;
    background-color: deepskyblue;
    font-size: 45px;
    text-align: center;
}
/*Table Style*/
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 5px groove #dddddd;
  text-align: center;
  padding: 2px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

tr:nth-child(odd) {
    color: aliceblue;
}

