body {
	background: yellow;
}


h1 {
	
}

h2{
        
}

table {
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	border-collapse: collapse;
	cellspacing: 0px;
}

tr {
	 
}

th {
	text-align: center;
	color: #ffffff;
	background-color: #003366;
}