
}
body {
    font-family: "Marker Felt", "Comic Sans MS", fantasy;
    color:darkblue;
    background-image: url(https://s3.amazonaws.com/tinycards/image/58ee5c90856781014df21fb23868e014)
}

h1 {
    font-size: 1.3em;
    text-align: center;
}

h2 {
    font-size: 1.1em;
}

table {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    border-collapse: collapse;
    cellspacing: 0px;
}

tr {
    border: 1px solid #ffffff;
    text-align: center;
    background-color: #9FB6CD;
}

th {
    text-align: center;
    color: #ffffff;
    background-color: #003366;
}

.button {
    background-color:cornflowerblue;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button1 {
    border-radius: 9px;
}

.button2 {
    border-radius: 30%;
}

.redd {
    background-color: cornflowerblue;
}

.an {
    background-color: cornflowerblue;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;




}

.jungkook {
    background-color: cornflowerblue;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.content {
    color:floralwhite
}

#morecontent {
    background-color:cornflowerblue
        ;
}

body
{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    transition: 0.5s;
}
body.night
{
    background: #00151f;
}
.toggle
{
    position: absolute;
    top: 40px;
    right: 50px;
    background: #fff;
    border: 2px solid #00151f;
    width: 45px;
    height: 20px;
    cursor: pointer;
    border-radius: 20px;
    transition: 0.5s;
}
.toggle.active
{
    background: #00151f;
    border: 2px solid #fff;
}
.toggle:before
{
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 16px;
    height: 16px;
    background: #00151f;
    border-radius: 50%;
    transition: 0.5s;
}
.toggle.active:before
{
    left: 27px;
    background: #fff;
}
.content
{
    margin: 100px auto;
    width: 1000px;
}
.content h1
{
    margin: 0 0 20px;
    padding: 0;
    color: #000;
    transition: 0.5s;
}
.content p
{
    margin: 0;
    padding: 0;
    color: #000;
    transition: 0.5s;
    font-size: 18px;
}
body.night .content h1,
body.night .content p
{
    color: #fff;
}

dl{
width: 500px;
	
    margin: auto;
    text-align: center;
}

dl{

}

dd{
margin: 0;	    
padding: 1em 0;
}

dt{
cursor: pointer;    	    
font-weight: bold;    
font-size : 1.5em;    
line-height: 2em;    
background: #e3e3e3;    
border-bottom: 1px solid #c5c5c5;    
border-top: 1px solid white;}

dt:first-child { border-top: none; }

dt:nth-last-child(2) { border-bottom: none; }
.hide { display: none;}
