/*----------GENERAL BELOW----------*/
.main {
    background-image: url('../images/field.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}

.menu {
    margin: 0px;
}

.bold {
    font-weight: bold;
}

.an {
    font-weight: bold;
    background-color: green;
}

/*----------HOME PAGE BELOW---------*/
* {
    box-sizing: border-box
}

/* Full-width input fields */
input[type=text],
input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus,
input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

/* Set a style for all buttons */
.signupbtn {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

button:hover {
    opacity: 1;
}

/* Extra styles for the cancel button */
.cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
    color: white;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn,
.signupbtn {
    float: left;
    width: 50%;
}

/* Add padding to container elements */
.container {
    padding: 16px;
}

/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {

    .cancelbtn,
    .signupbtn {
        width: 100%;
    }
}

/*----------ALYSSA NAEHER PAGE BELOW----------*/
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 5px solid black;
    text-align: left;
    padding: 8px;
    width: 50%
    
}


hr {
  border: 2px solid black;
} 

/*----------ADRIANA FRANCH PAGE BELOW----------*/

div.gallery {
  margin: 5px;
  border: 2px solid black;
  float: left;
  width: 250px;
  height: 750px;
}

div.gallery img {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width:70%;
}

div.desc {
  padding: 15px;
  text-align: center;
  font-weight: bold;
}

/*----------VITO MANNONE PAGE BELOW----------*/
dl {}

dd {
    margin: 0;
    padding: 1em 0;
    font-weight: bold;
    background: #f2f2f2;
}

dt {
    color:black;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.5em;
    line-height: 2em;
    background: #e3e3e3;
    border-bottom: 1px solid #c5c5c5;
    border-top: 1px solid white;
}

dt:first-child {
    border-top: none;
}

dt:nth-last-child(2) {
    border-bottom: none;
}

.hide {
    display: none;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


    .error{
        color: red;
    }


