body {
	font-family: "Marker Felt";
	color: #003366;
}
h1 {
    font-family: "Marker felt";
	font-size: 1.3em;
	text-align: center;
}

h2{
    font-family: "Marker felt";
    font-size: 1.1em;
    text-align: center;
}

   