body {
    font-family: "Marker Felt", "Comic Sans MS", fantasy;
    color: #003366;
}

h1 {
    font-size: 3em;
    text-align: center;
}

h2 {
    font-size: 2.5em;
    border-bottom-color: black;
    color: dodgerblue;
    text-align: center;
}

table {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    border-collapse: collapse;
    cellspacing: 0px;
}

tr {
    border: 1px solid #ffffff;
    text-align: center;
    background-color: #9FB6CD;
}

th {
    text-align: center;
    color: #ffffff;
    background-color: #003366;
}



.buttonimg {
    background-image: url(https://i.ebayimg.com/images/g/hg4AAOSw~vpaHiDj/s-l300.jpg);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 21px;
    margin: 4px 2px;
    cursor: pointer;
    width: 300px;
    height: 300px;
}

p {
    background: #67b11c 20px 50% no-repeat;
    border: 2px solid #467813;
    border-radius: 5px;
    color: #fff;
    font-family: "Helvetica Neue", sans-serif;
    padding: 15px 20px 15px 50px;
    text-align: center;
}


.button2 {
    width: 50%;
}

.button3 {
    width: 100%;
}

dl {}

dd {
    cursor: pointer;
    font-weight: bold;
    font-size: 1.1em;
    line-height: 1em;
    border-bottom: 1px solid #c5c5c5;
    border-top: 1px solid white;
    text-align: center;
    padding: 3em 0;
}

dt {
    cursor: pointer;
    font-weight: bold;
    font-size: 1.2em;
    line-height: 1em;
    background: #e3e3e3;
    border-bottom: 1px solid #c5c5c5;
    border-top: 1px solid white;
    text-align: center;
    padding: 2em 0;
}

dt:first-child {
    border-top: none;
}

dt:nth-last-child(2) {
    border-bottom: none;
}

.hide {
    display: none;
}


h4 {

    text-align: center;
    font-size: 1.7em;

}


li {
    list-style-position: inside;
}

ol {
    text-align: center;
}

h6 {
    text-align: right;
    font-size: 1.5em;
    background-color: darkorange;
}

.center2 {
    text-align: center;
}


h5 {
    text-align: center;
    font-family: cursive;
    font-size: 2em;
    color: black;
}

tr {
    background: rgba(0, 0, 0, 0.5)
}

td {
    background: rgba(0, 0, 0, 0.5)
}

.history {
    font-family: cursive;
    color: black;
    background-color: #f2eecb;
    font-size: 1.4em;
    border: 2px solid #f2eecb;
    border-radius: 5px;
    padding: 15px 20px 15px 50px;
    text-align: center;

}
