img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

table {
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	border-collapse: collapse;
	cellspacing: 0px;
}

tr {
	border: 1px solid #ffffff;
	text-align: center;
	background-color:sandybrown; 
}

th {
	text-align: center;
	color: #ffffff;
	background-color: darkgreen;
}


.button {
    background-color: white;
    border: 2px solid #0000FF;
    color: black;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.hover:hover {
  background-color: #0000FF; 
  color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    
}

.dayglow:hover {
    background-color: yellow; 
  color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    
}

.nightglow:hover {
    background-color: grey; 
  color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    
}