body {
    background-color: yellow;
    color: green; 
    width: 500px;
    margin: auto;
    text-align: center;
}

ul li {
    color: red;
}

.emphasis {
    font-family: cursive;
    color: red;
    font-weight: bold;
}

.rare {
    font-size: 39px;
    padding: 20px;
}

h2 {
    color: black;
    font-weight: bold;
}
dl {
    
}

dt {
    cursor: pointer;
    font-weight: bold;
    font-size: 1.5em;
    line-height: 2em;
    background-color: gray;
     border-bottom: 1px solid black;
    border-top: 1px solid white;
    
}

dd {
 margin: 0px;
    padding-top: 1em;
    padding-bottom: 1em;
}
.hide {
    display: none;
}

 dt:first-child { border-top: none; }
        dt:nth-last-child(2) { border-bottom: none; }  