table {
	font-family: "Marker Felt", "Comic Sans MS", fantasy;
	color: #003366;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	border-collapse: collapse;
}

tr {
	border: 1px solid #ffffff;
	text-align: center;
	background-color: #9FB6CD;
}

th {
	text-align: center;
	color: #ffffff;
	background-color: #003366;
}

.button {
	background-color: #4CAF50;
	border: none;
	color: white;
	padding: 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 12px;
	margin: 4px 2px;
	cursor: pointer;
}

.button1 {
	border-radius: 8px;
}

.button2 {
	border-radius: 30%;
}

.red {
	background-color: #ff0000;
}

td {
	padding: 20px;
}

table {
	margin-left: auto;
	margin-right: auto;
}

h1, h2, h3, h4, h5, h6 {
	text-align: center;
}

.button3 {
	box-shadow: inset 0px 1px 19px -19px #a6827e;
	background: linear-gradient(to bottom, #7d5d3b 5%, #634b30 100%);
	background-color: #7d5d3b;
	border-radius: 7px;
	border: 1px solid #54381e;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: Arial;
	font-size: 12px;
	padding: 7px 56px;
	text-decoration: none;
	text-shadow: 16px 5px 1px #4d3534;
}

.buttonwide {
	padding: 55px;
}

.buttonrich {
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.myButton {
	box-shadow: 3px 4px 0px 0px #899599;
	background: linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
	background-color: #ededed;
	border-radius: 15px;
	border: 1px solid #d6bcd6;
	display: inline-block;
	cursor: pointer;
	color: #3a8a9e;
	font-family: Arial;
	font-size: 12px;
	padding: 7px 25px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #e1e2ed;
}

.myButton:hover {
	background: linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
	background-color: #bab1ba;
}

.myButton:active {
	position: relative;
	top: 1px;
}

.ripbutton {
	transition-duration: 1.5s;
	-webkit-transition-duration: 1s;
	/* Safari */
}

.button:hover {
	background-color: #ffffff;
	color: rgb(0, 0, 0);
}

.title {
	color: rgb(187, 255, 0);
	font-family: 'Brush Script MT', sans-serif;
}

.title-large {
	font-size: 2rem;
}

.title-small {
	font-size: .5rem;
}

#morecontent {
	background-color: yellow;
}

#hireButtons {
	font-size: 12px;
	font-family: fantasy;
}

#footerTable {
	background-color: rgb(187, 255, 0);
}

* {
	font-weight: 900;
	font-family: fantasy;
	font-variant: small-caps;
}