body{
    color: antiquewhite;
    background-color: mediumpurple;
width: 500px;
	
    margin: auto;
    text-align: center;
}

dl{

}

dd{
margin: 0;	    
padding: 1em 0;
}

dt{
cursor: pointer;    	    
font-weight: bolder;    
font-size : 1.5em;    
line-height: 2em;    
background: blue;    
border-bottom: 1px teal;    
border-top: 1px solid orange;}

dt:first-child { border-top: none; }

dt:nth-last-child(2) { border-bottom: none; }
.hide { display: none;}