body {
    font-family: "Marker Felt", "Comic Sans MS", fantasy;
    color: #003366;
}

h1 {
    font-size: 1.3em;
    text-align: center;
}

h2 {
    font-size: 1.1em;
}

table {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    border-collapse: collapse;
    cellspacing: 0px;
}

tr {
    border: 1px solid #ffffff;
    text-align: center;
    background-color: #9FB6CD;
}

th {
    text-align: center;
    color: #ffffff;
    background-color: #003366;
}

.button {
    background-color: lightcyan;
    /* Green */
    border: none;
    color: black;
    padding: 20px;
    text-align: center;
    text-decoration: underline;
    display: inline-block;
    font-size: 24px;
    margin: 4px 2px;
    cursor: pointer;
}

.button1 {
    border-radius: 12px;
}

.button2 {
    border-radius: 30%;
}

.red {
    background-color: cyan;
}

.Jessica {
    background-color: cyan;
    color: black;
    border: 5px solid black;
    text-decoration: underline;
    padding: 20px;
    border-radius: 50%;
    font-size: 24px;
}

.Soccer {
    background-color: cyan;
    text-decoration: underline;
    padding: 20px;
    font-size: 24px;
    border-radius: 75%;
    border: 2px solid black;
}

.Soccer:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    background-color: cyan;
    text-decoration: underline;
   padding: 20px;
    font-size: 24px;
    border-radius: 75%;
    border: 2px solid black;
    background-image: url('https://images-na.ssl-images-amazon.com/images/I/61Jigwd1kKL._AC_SL1500_.jpg');
    background-repeat: no-repeat;
    background-size: 150px auto;
}

.content {
    color: cadetblue;
}

#morecontent {
    background-color: lightcyan;
}
