body {
	font-family: "Marker Felt", "Comic Sans MS", fantasy;
	color: #003366;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTTnNWRdz5ALfoLToMqAekkTSve-ZabUci4wH-ETSl6YtjmOcNP:https://s3.envato.com/files/248925149/Preview%2520Image.jpg&s)
}

h1 {
	font-size: 1.3em;
	text-align: center;
}

h2{
        font-size: 1.3em; 
    	text-align: center;
}

table {
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	border-collapse: collapse;
	cellspacing: 0px;
}

tr {
	border: 1px solid #ffffff;
	text-align: center;
	background-color:#9FB6CD; 
}

th {
	text-align: center;
	color: #ffffff;
	background-color: #003366;
}