table {
	font-family: "Marker Felt", "Comic Sans MS", fantasy;
	color: #000000;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	border-collapse: collapse;
	border-spacing: 0px;
}

tr {
	border: 1px solid #000000;
	text-align: center;
	background-color:#ff5050; 
}

th {
	text-align: center;
	color: #000000;
	background-color: #ff5050;
}