body {
    background-image: url(../images/background.jpg);
    background-position: center;
    background-repeat: repeat-y;
    background-size: cover;
    font-family: fantasy;
    transform: rotate(0deg)
}

.menu {
    font-family: timesnewroman;
    font-size: 1.2em;
    margin: 0px
}

h1 {
    text-align: center;
}

h3 {
    text-align: center;
}

p{
    margin-bottom: 0px;
}

#morecontent {
    background-color: yellow;
    margin: 40px;
    font-size: 20px;
}

.content {
    color: #ffbb00;
    font-size: 1.5em;
    margin: 40px;
}

#clicks {
    margin-left: 40px;
    margin-right: 40px;
    padding: 10px;
    border: 3px solid #00aaff;
    background-image: url('../images/background.jpg');
    background-position: center;
}

.button {
    background-color: #4CAF50;
    width:13.6%;
    height:300px;
    /* Green */
    border: none;
    color: white;
    padding: 45px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: crosshair;
    background-image: url(../images/edited.png);
    background-size: cover;
    background-position: center;
}

.button1 {
    border-radius: 8px;
}

.button2 {
    border-radius: 30%;
    font-family: Wingdings;
}

.button3 {
    border-radius: 10px;
    font-family: Wingdings;
    border: 3px solid #ffffff;
}

.red {
    background-color: #ff0000;
}

.orange {
    background-color: #ff8800;
}

.circle {
    border-radius: 100%;
    border: 3px solid #ff0000;
}

strong{
    font-size: 2em;
    font-family: impact;
}

.table-hover tbody tr:hover{
    background-color:#BB0000;
}