*{
    font-family: "Times New Roman";
}

body{
    background-color: aliceblue;
}

.container{
    width: 300px;    
    background-color: gray;
    
    display: block;
    margin: 0 auto;
    
    border-radius: 10px;
    padding-bottom : 50px;
}

.app-title{
    width: 300px;
    height: 50px;
    border-radius: 10px 10px 0 0;
    font-size: 1.4em;
}

.app-title p{
    text-align: center;
    padding: 15px;
    margin: 0 auto;
    font-size: 1.2em;
    color: aliceblue;
}

.notification{
    background-color: #f8d7da;
    display: none;
}

.notification p{
    color: #721c24;
    font-size: 1.2em;
    margin: 0;
    text-align: center;
    padding: 10px 0;
}

.weather-container{
    width: 300px;
    height: 260px;
    background-color:palevioletred;
}

.weather-icon{
    width: 300px;
    height: 128px;
}

.weather-icon img{
    display: block;
    margin: 0 auto;
}

.temperature-value{
    width: 300px;
    height:60px;
}

.temperature-value p{
    padding: 0;
    margin: 0;
    color: aliceblue;
    font-size: 3em;
    text-align: center;
    cursor: pointer;
}

.temperature-value p:hover{
    
}

.temperature-value span{
    color: aliceblue;
    font-size: 0.5em;
}

.temperature-description{
    
}

.temperature-description p{
    padding: 8px;
    margin: 0;
    color: aliceblue;
    text-align: center;
    font-size: 1.5em;
}

.location{
    
}

.location p{
    margin: 0;
    padding: 0;
    color: aliceblue;
    text-align: center;
    font-size: 1.3em;
}



