body {
	font-family: "Marker Felt", "Comic Sans MS", fantasy;
	color: black;
    background-color:paleturquoise;
    height: 100%;
        background-position:left;

}
.button:hover {
    border-radius: 50%;
        background-color:cyan;
    opacity:-1
    
}

.button:hover {
  border-radius: 50%;
    background-color:red;
    opacity:-1
   
}

.button2:hover {
    opacity: -1
  border-radius: 50%;
    background-color: lawngreen;
}

.red:hover { 
   background-color: #ff0000;
    opacity:-1
}
.content{
    color:coral;
    text-align: left
    
}
  

h1 {
	font-size: 1.3em;
	text-align: center;
    
}

h2{
        font-size: 1.1em;
    text-align:center
}

table {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	border-collapse: collapse;
	cellspacing: 0px;
}

tr {
	border: 1px solid #ffffff;
	text-align: center;
	background-color:#9FB6CD; 
}

th {
	text-align: center;
	color: #ffffff;
	background-color: #003366;
}