body {
	font-family: "Marker Felt", "Comic Sans MS", fantasy;
	color: #003366;
    background-image: url("../images/webDevUser20music.jpg");
    height: 100%
        background-position: center;
background-repeat: no-repeat;
background-size: cover;
    

}
