body{
    background-image: url("../faq.jpg");

width: 500px;
	
    margin: auto;
    text-align: center;
font-family: "Courier New", Courier, monospace;
    
	color: #8658c7;
}

dl{

}

dd{
margin: 0;	    
padding: 1em 0;
color:#6b32ba;
}

dt{
cursor: pointer;    	    
font-weight: bold;    
font-size : 1.5em;    
line-height: 2em;    
background: #e3e3e3;    
border-bottom: 1px solid #c5c5c5;    
border-top: 1px solid white;}

dt:first-child { border-top: none; }

dt:nth-last-child(2) { border-bottom: none; }
.hide { display: none;}