body {
    color: #000000;
    font-family: "Courier New";

}


h1 {
    font-size: 2.7em;
    font-family: "Snell Roundhand, cursive";
}

h2 {
    font-size: 1.1em;
}

th,
td {
    padding: 15px;
    padding-left: 100px;
}

dl {}

dd {
    margin: 0;
    padding: 1em 0;
}

dt {
    cursor: pointer;
    font-weight: bold;
    font-size: 1.5em;
    line-height: 2em;
    background: #999999;
    border-bottom: 1px solid #c5c5c5;
    border-top: 1px solid white;
}

dt {
    color: white;
    background-color: darkred;
}

dt:first-child {
    border-top: none;
}

dt:nth-last-child(2) {
    border-bottom: none;

}

table {
    margin-left: 200px;
    margin-right: 200px;
    padding-left: 100px;
    text-align: left;
    border-collapse: collapse;
    cellspacing: 0px;
    color: white;
}

tr {
    border: 5px solid #ffffff;
    text-align: center;
    background-color: #C81D25;
}

th {
    text-align: center;
    color: #ffffff;
    background-color: darkred;
}

button {
    font-size: 1.5em;
    color: white;
    background-color: #C81D25;
    border-style: dotted;
    border-color: darkred;
    border-width: thick;
    border-radius: 10%;
    width: 250px;
    height: 100px;
}

.important {
    font-weight: bold;
    font-size: xx-large;
}

.blue {
    background-color: red;
}
.rd {
    background-color: darkred;
}