strong {
  padding: 5px;
    background-color: darkorange ;
}
p {
  padding: 20px 0 20px 10px;
  margin-bottom: 50px; 
    
}
h3 {
  padding: 50px;
 border-bottom: 8px solid #5D6063;
    border-right: 16px solid darkblue;
    border-left:16px solid darkblue; 
    border-top: 8px solid #5D6063;
}
body {
    font-family: "Marker Felt", "Comic Sans MS", fantasy;
    color: #003366;
    background-image: url(https://lh3.googleusercontent.com/proxy/2K2t9xPgHluApw1tXxC9t06n-MXlx9s7KinnLHINV3dmAu9yfSkWILB_e8cSJYvl2V1qc1lMRjXxEuo_iCwCKEz7_m3N2tOitLXhnzYBcg2aSE4Nky-9cew_jpFsfA);

}

h2 {
    font-size: 1.3em;
    text-align: center;
}

h2 {
    font-size: 1.1em;
}

table {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    border-collapse: collapse;
    cellspacing: 0px;
}

tr {
    border: 1px solid #ffffff;
    text-align: center;
    background-color: #9FB6CD;
}

th {
    text-align: center;
    color: #ffffff;
    background-color: #003366;
}
