h1 {
color: indigo;
font-family: Helvetica, Geneva, Arial, SunSans-Regular, sans-serif
}

h2 {
font-family: Helvetica, Geneva, Arial, SunSans-Regular, sans-serif
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: skyblue;
  color: white;
  text-align: center;
}